USE [master]
GO
/****** Object:  Database [lostnfound]    Script Date: 4/28/2025 2:54:42 AM ******/
CREATE DATABASE [lostnfound]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lostnfound', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\lostnfound.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lostnfound_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\lostnfound_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lostnfound].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lostnfound]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/28/2025 2:54:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [char](6) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[oauth_provider] [varchar](50) NULL,
	[oauth_id] [varchar](100) NULL,
	[password_hashed] [varchar](255) NULL,
	[first_name] [varchar](30) NOT NULL,
	[last_name] [varchar](30) NOT NULL,
	[country_code] [varchar](5) NOT NULL,
	[phone_number] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [chk_phone_length] CHECK  (((len(replace([country_code],'+',''))+len([phone_number]))<=(15)))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_phone_length]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([country_code] like '+%' AND NOT [country_code] like '%[0-9]' AND (len([country_code])>=(2) AND len([country_code])<=(5))))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  ((NOT [phone_number] like '%[^0-9]%' AND (len([phone_number])>=(4) AND len([phone_number])<=(12))))
GO
USE [master]
GO
